[submodule "cannabis-blockchain-gui"]
	path = cannabis-blockchain-gui
	url = https://github.com/CannabisChain/cannabis-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/CannabisChain/mozilla-ca.git
	branch = main
